<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <div id="heading">
        HTML DOM
    </div>
    <form action="" id="form-1"></form>
     <h2 onclick="console.log(this)">
       <span onclick="console.log(this)">DOM events</span>
    </h2> -->
    <!-- <h1>DOM 1</h1>
    <h1>DOM 2</h1>
    <h1>DOM 3</h1>
    <div class="box box-2">
    </div> --> 
    <!-- <input type="text">
    <input type="checkbox" name="" id="">
    <select name="" id="select-test">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select> -->
    <!-- <a href="http://f8.edu.vn">
        Học lập trình
    </a>
    <a href="http://google.com.vn">
        Tìm kiếm
    </a>

    <div>
        DIV
        <button>
            click me
        </button>
    </div>
    <button id="btn">
        click me button
    </button> -->
    <!-- <div id="post-block">

    </div> -->

    <div>
        <h2>auctions</h2>
    </div>
    <ul id="list-auctions">
    </ul>
    <div>
        <div>
            <label>Name</label>
            <input type="text" name="name"/>
        </div>
        <div>
            <button id="create">Submit</button>
        </div>
    </div>
    <!-- <ul id="test-comment"></ul> -->
    <script src="./main.js"></script>
</body>
</html>